<div class="flex-grid">
  <div>
    <h1>Download</h1>
  </div>
  <div>
    <p>Click the button to download a zip file from the server!</p>
  </div>
  <div>
    <button (click)="downloadIt1()" class="btn btn-primary">
      Download file and let the server specify the file name in the header.
    </button>
  </div>
  <div>
    <button (click)="downloadIt2()" class="btn btn-primary">
      Download file and let the client specify the file name in the code.
    </button>
  </div>
  <div>
    <button class="btn btn-success" routerLink="/">Back to home</button>
  </div>
</div>
